<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Product Page</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li>
                    <li class="breadcrumb-item active">Product Page</li>
                </ol>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-icon"
                        data-bs-toggle="modal" (click)="showAddModal()" data-bs-target=".create-modal"
                        ><span>Create New Product</span></button>
                        <!-- <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> -->
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Category</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Tags</th>
                                        <th>Price</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>{{product.id}}</td>
                                        <td>{{product.categoryId}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.description}}</td>
                                        <td>{{product.tags}}</td>
                                        <td>{{product.price}}</td>
                                        <td>
                                            <button class="btn btn-icon"
                                            data-bs-toggle="modal" (click)="showEditModal(product)" data-bs-target=".edit-modal"
                                            ><span>Edit</span></button>
                                            <button class="btn btn-icon" (click)="deleteProductById(product.id)"><span>Delete</span></button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<app-product-add (onLoad)="getList()"></app-product-add>
<app-product-update (onLoad)="getList()"></app-product-update>