
<!-- Update Modal example -->
<div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card shadow-none border-0 p-3 pb-0">
                <div class="card-title">
                    <h4>Update User</h4>
                </div>
                <div class="card-body" *ngIf="updateForm">
                    <div class="mb-3">
                        <label class="form-label" for="image-url-input">Image Url</label>
                        <input type="file" class="form-control" accept="image/*" (change)="onFileChange($event)" id="image-url-input">
                    </div>
                    <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label class="form-label" for="first-name-input">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" id="first-name-input">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="last-name-input">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" id="last-name-input">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email-input">Email</label>
                            <input type="text" class="form-control" formControlName="email" id="email-input">
                        </div>
                        <div class="">
                            <button class="btn btn-warning d-block ms-auto">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
