
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/admin/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/admin/images/logo-dark.png" alt="" height="20">
            </span>
        </a>

        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="assets/admin/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/admin/images/logo-light.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a routerLink="/admin/home">
                        <i class="uil-home-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/users">
                        <i class="uil-home-alt"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/services">
                        <i class="uil-home-alt"></i>
                        <span>Services</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/categories">
                        <i class="uil-home-alt"></i>
                        <span>Categories</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/products">
                        <i class="uil-home-alt"></i>
                        <span>Products</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/gellery">
                        <i class="uil-home-alt"></i>
                        <span>Gallery</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>