<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Service Page</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li>
                    <li class="breadcrumb-item active">Service Page</li>
                </ol>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-icon"
                        data-bs-toggle="modal" (click)="showAddModal()" data-bs-target=".create-modal"
                        ><span>Create New Service</span></button>
                        <!-- <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> -->
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Duration</th>
                                        <th>Price</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let service of services">
                                        <td>{{service.id}}</td>
                                        <td>{{service.name}}</td>
                                        <td>{{service.duration}}</td>
                                        <td>{{service.price}}</td>
                                        <td>
                                            <button class="btn btn-icon"
                                            data-bs-toggle="modal" (click)="showEditModal(service)" data-bs-target=".edit-modal"
                                            ><span>Edit</span></button>                                            
                                            <button class="btn btn-icon" (click)="deleteServiceById(service.id)"><span>Delete</span></button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<app-service-add (onLoad)="getList()"></app-service-add>
<app-service-update (onLoad)="getList()"></app-service-update>