
<!-- Update Modal example -->
<div class="modal fade update-working-range-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card shadow-none border-0 p-3 pb-0">
                <div class="card-title">
                    <h4>Update User</h4>
                </div>
                <div class="card-body" *ngIf="updateForm">
                    <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label class="form-label" for="day-select">Day</label>
                            <select id="day-select" class="form-control" formControlName="dayOfWeek">
                                <option value="0">Sunday</option>
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Thursday</option>
                                <option value="5">Friday</option>
                                <option value="6">Saturday</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="start-time-input">Start Time</label>
                            <input type="time" class="form-control" formControlName="startTime" id="start-time-input">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="end-time-input">End Time</label>
                            <input type="time" class="form-control" formControlName="endTime" id="end-time-input">
                        </div>
                        <div class="">
                            <button class="btn btn-warning d-block ms-auto">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
