
<!-- Update Modal example -->
<div class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="card shadow-none border-0 p-3 pb-0">
                <div class="card-title">
                    <h4>Update Product</h4>
                </div>
                <div class="card-body" *ngIf="updateForm">
                    <form  [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label class="form-label" for="category-select">Category</label>
                            <select id="category-select" class="form-control" formControlName="categoryId">
                                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name-input">Name</label>
                            <input type="text" class="form-control" formControlName="name" id="name-input">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description-input">Description</label>
                            <textarea type="text" rows="5" class="form-control" formControlName="description" id="description-input"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tags-input">Tags</label>
                            <input type="text" class="form-control" formControlName="tags" id="tags-input">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price-input">Price</label>
                            <input type="text" class="form-control" formControlName="price" id="price-input">
                        </div>
                        <div class="mb-3">
                            <div class="square-switch ">
                                <input type="checkbox" id="square-switch-is-active" switch="none"  formControlName="isActive"/>
                                <label for="square-switch-is-active" ></label>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-warning d-block ms-auto">Update</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
